<div class="container" style="display: inline-block;">
  <mat-card-header  style="justify-content: center;">
    <h1>Predict Result</h1>
</mat-card-header>
  <!--<div class="container" style="background: azure;">-->
  <div class="row d-flex mb-4">
    <div class="col-md-6">
      <canvas id="chart1"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="chart2"></canvas>
    </div>
  </div>
  <div class="row d-flex mb-4">
    <div class="col-md-6">
      <canvas id="chart3"></canvas>
    </div>
    <div class="col-md-6">
      <canvas id="chart4"></canvas>
    </div>
  </div>
  <div class="d-flex row mb-4">
    <div class="col-md-6">
      <canvas id="chart5"></canvas>
    </div>
    <!-- If you want another chart, add it here -->
    <div class="col-md-6">
      <!-- Empty or you can add another chart -->
    </div>
  </div>
</div>
