<mat-card>
    <mat-card-header style="justify-content: center;">
        <h1>River Station Listing</h1>
    </mat-card-header>
    <div>
        @if(_permission.haveadd===true){
            <button style="margin-left: 80%; margin-bottom: 15px;" mat-raised-button color="primary" routerLink="/riverstation/add"><mat-icon>add</mat-icon>Add River Station</button>
        }
    </div>
    <mat-card-content>
        <table mat-table [dataSource]="datasource"matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Station Name</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="river">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>River</th>
                <td mat-cell *matCellDef="let element">{{element.river.name}}</td>
            </ng-container>
                
            <ng-container matColumnDef="latitude">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
                <td mat-cell *matCellDef="let element">{{element.latitude}}</td>
            </ng-container>

            <ng-container matColumnDef="longitude" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
                <td mat-cell *matCellDef="let element">{{element.longitude}}</td>
            </ng-container>

            <ng-container matColumnDef="alertLevel" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Alert Level</th>
                <td mat-cell *matCellDef="let element">{{element.alertLevel}} m</td>
            </ng-container>

            <ng-container matColumnDef="minorLevel" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Minor Level</th>
                <td mat-cell *matCellDef="let element">{{element.minorLevel}} m</td>
            </ng-container>

            <ng-container matColumnDef="majorLevel" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Major Level</th>
                <td mat-cell *matCellDef="let element">{{element.majorLevel}} m</td>
            </ng-container>
            <!--<ng-container matColumnDef="isactive" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element">{{element.isactive}}</td>
            </ng-container>-->

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element">
                    <button (click)="functionedit(element.id)" mat-raised-button style="background-color: rgb(0, 30, 71); color: aliceblue;"><mat-icon>edit</mat-icon>Edit</button>
                    <button (click)="functiondelete(element.id)" mat-raised-button style="background-color: rgb(0, 204, 235);"><mat-icon>delete_forever</mat-icon>Delete</button>
                </td>
            </ng-container>
            <tr class="table-header" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
        </table>
    </mat-card-content>
    <br>
    <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>